
/*  Chart Style Sheet */

#option_container {
    width: 100%; 
    height: 28px; 
    background: rgba(0, 0, 0, 0.4);
    border-bottom:1px solid hsla(206,8%,82%,.15);
    padding-top: 4px;
    padding-bottom: 2px;
}
.sel_bigchart {
    display: none;
    float: right;
    margin-right: 10px;
    line-height: 17px;
    color: white;
    font-family: opensans_bold;
    border-bottom: 1px solid hsla(206,8%,82%,.2);
    color: hsla(206,8%,82%,.6);
}
.select_box_style {
    background-color: rgba(0,0,0,0);
    color: #ced2d5;
    font-family: "opensans_bold";
    border: 0px;
    padding: 3px;
    float: left;
    margin-left: 5px;
    height: 20px;
}
#chartContain,
#chartContain_2 {
    height: 48%;
} 
.chart_div {
    height: 100%;
    width: 100%;
    font-size: 11px;
}
#sub_title{
    height: 35px;
    background  : #161B1D; 
    color: white;
    line-height: 35px;
    font-size: 18px;
    text-indent: 5px;
}
#price_c {
    color: white;
}