
/*  Chart Style Sheet */

#option_container {
  width: 100%; 
  height: 24px; 
  background: rgba(0, 0, 0, 0.4);
  border-bottom:1px solid hsla(206,8%,82%,.15);
  padding-top: 2px;
  padding-bottom: 2px;
}
.sel_bigchart {
  display: none;
  float: right;
  margin-right: 20px;
  line-height: 25px;
  color: white;
}
.select_box_style {
  background-color: #101010;
  color: #ced2d5;
  font-weight: bold;
  border: 0px;
  padding: 3px;
  float: left;
  margin-left: 5px;
  height: 20px;
}
#chartContain,
#chartContain_2 {
  height: 48%;
}
@media only screen and (min-height: 701px) {
  #chartdiv_2{display: block !important;}
  #chartdiv{display: block !important;}
  #option_container{display: block !important;}
  .sel_bigchart{display: none;}
  .select_box_style{display: block !important;}
}
#depth_c {color: #968585;}
.chart_div {
  height: 100%;
  width: 100%;
  font-size: 11px;
}
#sub_title{
  height: 35px;
  background  : #161B1D; 
  color: white;
  line-height: 35px;
  font-size: 18px;
  text-indent: 5px;
}